* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #1f2937;
    color: #fff;
}

.nav-bar ul {
    display: flex;
    gap: 1rem;
}

header h1 {
    font-size: 1.5rem;
}

header ul {
    list-style: none;
}

header a {
    color: inherit;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.disciplina {
    flex-grow: 1;
    flex-basis: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #888;
    background-color: #eee;
    border-radius: 0.75rem;
}

.disciplina h3 {
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #1f2937;
    color: #fff;
}

@media (max-width: 900px) {
    main{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 800px) {
   

    footer {
        flex-direction: column;
        justify-content: center;
    }

    h4 {
        margin: 0;
    }
}

@media (max-width: 700px) {
    main{
        grid-template-columns: 1fr;
    }
}

